.topbar {  
  display: flex;  
  justify-content: space-between;
  gap: 30px;  
  align-items: center;  
  background: #fff;  
  padding: 20px;  
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  margin: 15px 200px 0 200px;  
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  font-size: 20px;
}   
.dropdown select {
  padding: 5px;
  margin: 0;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
}   
.dropdown select:focus {
  outline: none;
  border-color: #007bff;
} 
.gmb{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  }
  .points{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  }
  .coins{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  }
 