.sidebar {  
  width: 250px;  
  background: #fff;  
  padding: 40px 20px;  
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  height: 550px;  
}  
.sidebar-header {  
  display: flex;  
  align-items: center;  
  gap: 10px;  
  margin-bottom: 20px;  
}
.logo-box {  
  background: #5D5FEF;  
  border-radius: 8px;
  height: 10px;  
}
.app-name {  
  font-size: 30px;  
  font-weight: 600;  
  color: orange;  
  text-align: center;  
}
.search-bar input {  
  padding: 10px;  
  border-radius: 8px;  
  border: 1px solid #ccc;  
  width: 300px;
  margin-bottom: 10px;  
}
.nav-link {  
  display: flex;  
  color: #737791;  
  font-size: 18px;  
  margin-bottom: 10px;  
  border-radius: 12px;  
}  
.nav-link.active,  
.nav-link:hover {
  color: #5D5FEF;  
}
.profile-card {
  text-align: center;
  padding: 20px;
  background: #fff;
}
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}  
.profile-info h3 {
  margin: 0;
  font-size: 16px;
  color: #0070c9;
}  
.profile-info p {
  margin: 0;
  font-size: 13px;
  color: #666;
}  

